header, section, footer, aside, nav, main, article, figure {
    display: block;
}

/*
    #97d0e1  6f8888
    #427388 #1a222c

*/

html, body {
    font-family: Raleway;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 100;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.4);
    background: #1a222c;

    background-image: -webkit-radial-gradient(top, circle cover, #536565, #1a222c 80%);
    background-image: -moz-radial-gradient(top, circle cover, #536565, #1a222c 80%);
    background-image: -o-radial-gradient(top, circle cover, #536565, #1a222c 80%);
    background-image: radial-gradient(top, circle cover, #536565, #1a222c 80%);
}

::selection {
    background: rgba(255, 255, 255, 0.6);
    color: #1a222c;
    text-shadow: none;
}

::-moz-selection {
    background: rgba(255, 255, 255, 0.6);
    color: #1a222c;
    text-shadow: none;
}

article {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1, h2 {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    font-weight: 300;
}

h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 3rem;
    font-weight: 200;
}

i {
    display: none;
}

#contact {
    margin-top: 1.5rem;
}

#contact ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#contact li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2rem;
}

#contact li ~ li {
    margin-left: 1.5rem;
}

#contact li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

#contact li a:hover {
    color: rgba(255, 255, 255, 1);
}

#contact .icon {
    transition: all .8s;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    border: none;
    padding: 1rem;
    border-radius: 50%;
}

#contact .icon:hover {
    background: rgba(255, 255, 255, 0.6);
    color: #1a222c;
}
